<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="./js/vue.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<style type="text/css">
    body {
        background: #F6F6F6;
    }
    
    .xiaoshuo {
        cursor: pointer;
    }
    
    [v-cloak] {
        display: none;
    }
    
    .footer {
        position: fixed;
        width: 300px;
        left: 0;
        right: 0;
        bottom: 10px;
        height: 20px;
        line-height: 20px;
        background-color: #fff;
        text-align: center;
        color: #31AEFF;
        margin: 0 auto;
        z-index: 999;
    }
</style>

<body>
    <div id="app" v-cloak>
        <div style="margin-top: 20px;text-align:left;padding:0px 10px" v-for="(item,index) in didList" @click='clickItem(item)'>
            {{item["did"]}}
            <p style="text-align: left;margin-top:5px"> {{handleTime(item)}}
                <span style="color:#ff0000" v-if="!item['state']">{{curLangule['key10']}}</span>
            </p>
        </div>
        <div style="height:50px"></div>
        <div class="footer" v-if="this.curTime!=''">
            <!-- {{dateFormat(new Date(this.curTime*1000), 'yyyy-MM-dd HH:mm')}}-->{{curLangule['key9']}}：{{curblock}}
        </div>
    </div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            zh: {
                title: '投票',
                key9: '当前区块',
                key10: '无效'
            },
            en: {
                title: 'Voting',
                key9: 'Current Block',
                key10: 'Invalid'
            },
            curLangule: {},
            txId: "",
            didList: [],
            curblock: '',
            curTime: ''
        },
        methods: {
            getAjax(url) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
            getAjaxHeight() {
                this.getAjax('https://idchain.elastos.org/api/v1/block/height').then((res) => {
                    this.curblock = res[0].height;
                    this.curTime = new Date().getTime();
                })
            },
            handleTime(item) {
                var str = String(item["createTime"]);
                var timeStr = "";
                if (str.length === 10) {
                    timeStr = this.dateFormat(new Date(item["createTime"] * 1000), ' yyyy-MM-dd HH:mm:ss');
                } else {
                    timeStr = this.dateFormat(new Date(item["createTime"]), ' yyyy-MM-dd HH:mm:ss');
                }

                return timeStr;
            },
            clickItem(item) {
                var did = item["did"];
                window.open('https://idchain-test.elastos.org/did_detail/' + did);
            },
            getLanugle: function() {
                this.curLangule = this.en;
                this.curLanguleKey = 'en';
                var JsSrc = (navigator.language || navigator.browserLanguage).toLowerCase();
                if (JsSrc.indexOf('zh') >= 0) {
                    // 假如浏览器语言是中文
                    this.curLanguleKey = 'zh';
                    this.curLangule = this.zh;
                } else if (JsSrc.indexOf('en') >= 0) {
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                } else {
                    // 假如浏览器语言是其它语言
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                }
            },
            getUrlParam: function(name) {
                //正则表达式过滤
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                //正则规则
                var r = window.location.search.substr(1).match(reg);

                if (r != null) return decodeURI(r[2]);
                return null;
            },
            dateFormat(date, sFormat) {
                let time = {
                    Year: 0,
                    TYear: '0',
                    Month: 0,
                    TMonth: '0',
                    Day: 0,
                    TDay: '0',
                    Hour: 0,
                    THour: '0',
                    hour: 0,
                    Thour: '0',
                    Minute: 0,
                    TMinute: '0',
                    Second: 0,
                    TSecond: '0',
                    Millisecond: 0
                };
                time.Year = date.getFullYear();
                time.TYear = String(time.Year).substr(2);
                time.Month = date.getMonth() + 1;
                time.TMonth = time.Month < 10 ? "0" + time.Month : String(time.Month);
                time.Day = date.getDate();
                time.TDay = time.Day < 10 ? "0" + time.Day : String(time.Day);
                time.Hour = date.getHours();
                time.THour = time.Hour < 10 ? "0" + time.Hour : String(time.Hour);
                time.hour = time.Hour < 13 ? time.Hour : time.Hour - 12;
                time.Thour = time.hour < 10 ? "0" + time.hour : String(time.hour);
                time.Minute = date.getMinutes();
                time.TMinute = time.Minute < 10 ? "0" + time.Minute : String(time.Minute);
                time.Second = date.getSeconds();
                time.TSecond = time.Second < 10 ? "0" + time.Second : String(time.Second);
                time.Millisecond = date.getMilliseconds();

                return sFormat.replace(/yyyy/ig, String(time.Year))
                    .replace(/yyy/ig, String(time.Year))
                    .replace(/yy/ig, time.TYear)
                    .replace(/y/ig, time.TYear)
                    .replace(/MM/g, time.TMonth)
                    .replace(/M/g, String(time.Month))
                    .replace(/dd/ig, time.TDay)
                    .replace(/d/ig, String(time.Day))
                    .replace(/HH/g, time.THour)
                    .replace(/H/g, String(time.Hour))
                    .replace(/hh/g, time.Thour)
                    .replace(/h/g, String(time.hour))
                    .replace(/mm/g, time.TMinute)
                    .replace(/m/g, String(time.Minute))
                    .replace(/ss/ig, time.TSecond)
                    .replace(/s/ig, String(time.Second))
                    .replace(/fff/ig, String(time.Millisecond))
            },
        },
        created: function() {
            this.getAjaxHeight();
            var dataStr = decodeURIComponent(this.getUrlParam("didList"));
            var didListStr = localStorage.getItem('did-list-key') || '[]';
            var sArr = _.filter(JSON.parse(didListStr),
                function(o) {
                    return o.state;
                });

            sArr = _.sortBy(sArr, function(item) {
                return -item["createTime"];
            });


            var fArr = _.filter(JSON.parse(didListStr),
                function(o) {
                    return !o.state;
                });

            fArr = _.sortBy(fArr, function(item) {
                return -item["createTime"];
            });

            this.didList = sArr.concat(fArr);
        },
        mounted() {
            this.getLanugle();
            document.title = this.curLangule["title"];
        }
    });
</script>

</html>