<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="./js/vue.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/lodash.min.js"></script>
    <script src="./js/vue-clipboard.min.js"></script>
    <!--ela js库-->
    <script src="./js/elastos-wallet-api-min.js"></script>
    <script>
        Vue.prototype.$verify = this.verify;
        Vue.prototype.$getAddress = this.getAddress;
    </script>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<style type="text/css">
    body {
        background: #F2F9FF;
    }
    
    .xiaoshuo {
        cursor: pointer;
    }
    
    .footer {
        position: fixed;
        width: 300px;
        left: 0;
        right: 0;
        bottom: 10px;
        height: 20px;
        line-height: 20px;
        background-color: #fff;
        text-align: center;
        color: #31AEFF;
        margin: 0 auto;
        z-index: 999;
    }
    
    .toast {
        position: fixed;
        z-index: 2000;
        left: 50%;
        top: 25%;
        transition: all .5s;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        border-radius: 5px;
        color: #FFF;
        background: rgba(17, 17, 17, 0.7);
        height: 45px;
        line-height: 45px;
        padding: 0 15px;
        width: 100%;
    }
    
    .spinner {
        display: block;
        margin: 100px auto 0;
        width: 150px;
        text-align: center;
    }
    
    .spinner>div {
        width: 30px;
        height: 30px;
        background-color: #67CF22;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    
    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    
    @-webkit-keyframes bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0.0)
        }
        40% {
            -webkit-transform: scale(1.0)
        }
    }
    
    @keyframes bouncedelay {
        0%,
        80%,
        100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        40% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
    
    .hang {
        margin-top: 20px;
        /* line-height: 64px; */
        background: #FFFFFF;
        border-top: 1px solid #BDDBFF;
        border-left: 15px solid #BDDBFF;
        border-right: 1px solid #BDDBFF;
        border-bottom: 1px solid #BDDBFF;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
    .hang1 {
        padding: 15px 0px;
        word-wrap: break-word;
        overflow: auto;
    }
    
    .hang2 {
        padding: 15px 0px;
        word-wrap: break-word;
        overflow: auto;
    }
    
    .three {
        position: fixed;
        width: 220px;
        left: 0;
        right: 0;
        bottom: 34px;
        height: 44px;
        line-height: 44px;
        background: #31AEFF;
        border-radius: 200px;
        margin: 0 auto;
        z-index: 999;
    }
    
    .three p {
        font-family: Bio Sans;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
    }
    
    [v-cloak] {
        display: none;
    }
</style>

<body>
    <div id="app" v-cloak>
        <div class="toast" v-show="toastShow">
            {{toastText}}
        </div>
        <div class="spinner" v-if="loading">
            <div class="bounce1"></div>

            <div class="bounce2"></div>

            <div class="bounce3"></div>
        </div>
        <div v-if="didVoteObj.length===0&&!loading" style="text-align: center;margin-top:50px;">{{curLangule['key24']}}</div>
        <div class="container" v-if="showType===1">
            <div style="padding-top:15px" v-if="didVoteObj.length>0&&!loading">
                <span>{{curLangule['key7']}}：{{didVoteCount }}&nbsp;</span>
                <span>&nbsp;{{curLangule['key8']}}：{{didVoteVCount }}</span>
                <span>&nbsp;{{curLangule['key9']}}：{{didVoteCount - didVoteVCount}}</span>
            </div>

            <table style="margin-top: 10px;" class="table table-bordered" v-if="didVoteObj.length>0">
                <thead>
                    <tr>
                        <th>{{curLangule['key18']}}</th>
                        <th>{{curLangule['key19']}}</th>
                        <th>{{curLangule['key20']}}</th>
                        <th>{{curLangule['key21']}}</th>
                        <th>{{curLangule['key23']}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for=" (item,key) in options1">
                        <td> {{item['no']}}</td>
                        <td>{{item['q']}}</td>
                        <td>{{item['h']}}</td>
                        <td>{{handlet(item['q'],item['h'])}}</td>
                        <td> {{handlex(item['q'],item['h'])}}</td>
                    </tr>
                </tbody>
            </table>


            <table class="table table-bordered" v-if="didVoteObj.length>0">
                <thead>
                    <tr>
                        <th>{{curLangule['key1']}}</th>
                        <th>{{curLangule['key2']}}</th>
                        <th>{{curLangule['key17']}}</th>
                        <th>{{curLangule['key3']}}</th>
                        <th>{{curLangule['key4']}}</th>
                        <th>{{curLangule['key5']}}</th>
                        <th>{{curLangule['key6']}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in didVoteObj">
                        <td>{{index+1}}</td>
                        <td @click='clickItem(item)'><span v-if="didObj[item['did']]">{{item["did"]}}</span>
                            <span v-if="!didObj[item['did']]" style="color: #ff0000;">{{item["did"]}}</span></td>
                        <td> <span v-if="handleDID(item)==''">.....</span>
                            <span v-if="handleDID(item)!=''&&handleDID(item)['isRed']" style="color: #ff0000;">{{dateFormat(new Date(handleDID(item)['ctime'] * 1000), ' yyyy-MM-dd HH:mm:ss')}}</span>
                            <span v-if="handleDID(item)!=''&&(!handleDID(item)['isRed'])" style="color: #67CF22;">{{dateFormat(new Date(handleDID(item)['ctime'] * 1000), ' yyyy-MM-dd HH:mm:ss')}}</span></td>
                        <td>{{item["bheight"]}}</td>
                        <td>{{item["sNo"]}}</td>
                        <td>{{handleTime(item)}}
                            <span style="color:#ff0000" v-if="!item['state']">{{curLangule['key10']}}</span>
                        </td>
                        <td> {{handlenum(item["address"])}} ELA</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height:90px"></div>
        <div class="three">
            <p @click="back">{{curLangule['key16']}}</p>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            zh: {
                title: 'DID投票',
                key1: '序号',
                key2: 'DID',
                key3: '高度',
                key4: '投票选项',
                key5: '时间',
                key6: '领到的红包金额',
                key7: '总票数',
                key8: '有效票数',
                key9: '无效票数',
                key10: '无效',
                key15: '区块高度',
                key16: '返回',
                key17: 'DID 注册时间',
                key18: '选项序号',
                key19: '新用户票数',
                key20: '老用户票数',
                key21: '得票数',
                key23: '最终得票',
                key24: '暂无交易记录'
            },
            en: {
                title: 'DID Voting',
                key1: 'Number',
                key2: 'DID',
                key3: 'Height',
                key4: 'Voting options',
                key5: 'Time',
                key6: 'Redpacket amount received',
                key7: 'Votes',
                key8: 'Valid votes',
                key9: 'Invalid votes',
                key10: 'Invalid',
                key15: 'Block Height',
                key16: 'Back',
                key17: 'DID registration time',
                key18: 'Index',
                key19: 'New user votes',
                key20: 'Old user votes',
                key21: 'Votes',
                key23: 'Final votes',
                key24: 'No transaction at present'
            },
            curLangule: {},
            toastText: "",
            toastShow: false,
            chainObj: {},
            sign: "",
            selectObj: {},
            selectArr: [],
            voteObject: {
                Selections: []
            },
            propertyKey: "",
            didVoteObj: [],
            voteList: [],
            chainDid: "",
            curblock: '',
            curTime: '',
            toastText: "",
            toastShow: false,
            loading: true,
            slen: 0,
            flen: 0,
            showType: 1,
            didPubs: {},
            didVoteCount: 0,
            didVoteVCount: 0,
            redpackObj: {},
            bnaceObj: {},
            yueCount: 0,
            didTimeObj: {},
            options: {},
            options1: [],
            didObj: {},
        },
        methods: {
            accDivCoupon(arg1, arg2) {
                var t1 = 0,
                    t2 = 0,
                    r1, r2;
                try {
                    t1 = arg1.toString().split(".")[1].length;
                } catch (e) {}
                try {
                    t2 = arg2.toString().split(".")[1].length;
                } catch (e) {}
                with(Math) {
                    r1 = Number(arg1.toString().replace(".", ""));
                    r2 = Number(arg2.toString().replace(".", ""));
                    return (r1 / r2) * pow(10, t2 - t1);
                }
            },
            accAdd(arg1, arg2) {
                var r1, r2, m;
                try {
                    r1 = arg1.toString().split(".")[1].length
                } catch (e) {
                    r1 = 0
                };
                try {
                    r2 = arg2.toString().split(".")[1].length
                } catch (e) {
                    r2 = 0
                };
                m = Math.pow(10, Math.max(r1, r2));
                return (arg1 * m + arg2 * m) / m;
            },
            accMul(arg1, arg2) {
                var m = 0,
                    s1 = arg1.toString(),
                    s2 = arg2.toString();
                try {
                    m += s1.split(".")[1].length
                } catch (e) {};
                try {
                    m += s2.split(".")[1].length
                } catch (e) {};
                return Number(s1.replace(".", "")) * Number(s2.replace(".", "")) / Math.pow(10, m);
            },
            accSubtr(arg1, arg2) {
                var r1, r2, m, n;
                try {
                    r1 = arg1.toString().split(".")[1].length;
                } catch (e) {
                    r1 = 0;
                }
                try {
                    r2 = arg2.toString().split(".")[1].length;
                } catch (e) {
                    r2 = 0;
                }
                m = Math.pow(10, Math.max(r1, r2));
                //动态控制精度长度
                n = (r1 >= r2) ? r1 : r2;
                return ((arg1 * m - arg2 * m) / m).toFixed(n);
            },
            handleh(q, h) {
                let first = this.accDivCoupon(h, 0.8);
                let second = this.accMul(first, 0.2);
                if (q < second) {
                    return 0;
                } else {
                    let c = this.accSubtr(q, second);
                    return c;
                }
            },
            handlet(q, h) {
                return this.accAdd(h, q);
            },
            handlex(q, h) {
                let first = this.accDivCoupon(h, 0.8);
                let second = this.accMul(first, 0.2);
                if (q < second) {
                    return this.accAdd(h, q);
                } else {
                    let t = this.accAdd(h, q);
                    let c = this.accSubtr(q, second);
                    return this.accSubtr(t, c);
                }

            },
            handleDID(item) {
                let did = item['did'];
                let timeStr = this.didTimeObj[did] || '';
                return timeStr;
            },
            getBalance(address) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: 'https://node1.elaphant.app/api/1/balance/' + address,
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                })
            },
            handleBance(address) {
                let balance = this.bnaceObj[address] || "";
                return balance;
            },
            back() {
                //location.href = "./index.html";
                window.history.go(-1);
            },
            handlenum(address) {
                let addressObj = this.redpackObj[address] || "";
                if (addressObj != "") {
                    return addressObj['amount'];
                }
                return 0;
            },
            selectData(list) {
                let arr = [];
                for (let index = 0; index < list.length; index++) {
                    let item = list[index];
                    let topicId = this.propertyKey.split('/')[1];
                    let key = item["property_key"];
                    let cHeight = item["height"];
                    let createTime = item["block_time"];
                    //判断当前区块是否在 投票的时间区段
                    let isRange = (cHeight >= this.chainObj["Starting-height"] && cHeight <= this.chainObj["End-height"]);
                    if (isRange && key.indexOf("vote_object") > -1 && key.indexOf(topicId) > -1) {

                        arr.push(item);
                    }
                }

                return arr;
            },
            clickAdress(item) {
                var address = item["address"] || "";
                if (address != "") {
                    window.open('https://blockchain.elastos.org/address/' + address);
                }
            },
            clickItem(item) {
                var did = item["did"];
                window.open('https://idchain-test.elastos.org/did_detail/' + did);
            },
            handleTime(item) {
                var str = String(item["createTime"]);
                var timeStr = "";
                if (str.length === 10) {
                    timeStr = this.dateFormat(new Date(item["createTime"] * 1000), ' yyyy-MM-dd HH:mm:ss');
                } else {
                    timeStr = this.dateFormat(new Date(item["createTime"]), ' yyyy-MM-dd HH:mm:ss');
                }

                return timeStr;
            },
            clickUrl(url) {
                if (url.substr(0, 7).toLowerCase() == "http://" || url.substr(0, 8).toLowerCase() == "https://") {
                    url = url;
                } else {
                    url = "http://" + url;
                }
                window.open(url);
            },
            init() {
                let didPubs = localStorage.getItem("didPubs") || "";
                if (didPubs === "") {
                    this.didPubs = {};
                } else {
                    this.didPubs = JSON.parse(didPubs);
                }
                var hash = this.getUrlParam("hashStr") || '0e7e986d4d3d5569214f00139870d04fd79e9c2226b27e8ab02beb83a70d78b0';
                this.propertyKey = 'did-voting/' + hash + '/topic_object';
                var url = 'https://idchain-test.elastos.org/api/v1/block/properteis/history?key=' + this.propertyKey + '&did=' + this.chainDid + '&start=0&pageSize=50';
                this.getAjax(url).then((res) => {
                    var item = res[0];
                    var dataStr = decodeURIComponent(JSON.parse(item['property_value'])['DataStr']);
                    var chainStr = JSON.parse(dataStr)["RequestedConent"] || JSON.parse(dataStr)["RequestedContent"];
                    this.chainObj = JSON.parse(chainStr);

                    // this.getAjax('https://idchain.elastos.org/api/v1/block/height').then((res) => {
                    //     this.curblock = res[0].height;
                    //     this.curTime = parseInt(new Date().getTime() / 1000);
                    // });

                    var url = 'https://idchain.elastos.org/api/v1/block/properteis/did?did=' + this.chainDid;
                    this.getAjax(url).then((res) => {
                        let arr = this.selectData(res);
                        this.loading = false;
                        let rlen = arr.length;
                        if (rlen > 0) {
                            let index = 0;
                            let sid = setInterval(() => {
                                if (index < rlen) {
                                    let item = arr[index];
                                    this.handleDate(item);
                                    index++;
                                } else {
                                    clearInterval(sid);
                                }
                            }, 10);
                        } else {
                            this.voteList = [];
                            this.loading = false;
                        }
                    }).catch((err) => {
                        console.log(JSON.stringify(err));
                        this.loading = false;
                    });
                });

            },
            getVoteDid() {
                this.getAjax('https://api-voteforme.elaphant.net/api/1/didvoting/did').then((res) => {
                    var data = res.data;
                    if (res['state'] === 0) {
                        this.chainDid = data['did'];
                        this.init();
                    }
                }).catch(() => {
                    this.loading = false;
                });
            },
            toast(str) {
                var v = this;
                v.toastText = str
                v.toastShow = true
                setTimeout(function() {
                    v.toastShow = false;
                }, 1500)
            },
            doCopy(url) {
                var v = this;
                this.$copyText(url).then(function(e) {
                    v.toast(v.curLangule['key13']);
                }, function(e) {})
            },
            dateFormat(date, sFormat) {
                let time = {
                    Year: 0,
                    TYear: '0',
                    Month: 0,
                    TMonth: '0',
                    Day: 0,
                    TDay: '0',
                    Hour: 0,
                    THour: '0',
                    hour: 0,
                    Thour: '0',
                    Minute: 0,
                    TMinute: '0',
                    Second: 0,
                    TSecond: '0',
                    Millisecond: 0
                };
                time.Year = date.getFullYear();
                time.TYear = String(time.Year).substr(2);
                time.Month = date.getMonth() + 1;
                time.TMonth = time.Month < 10 ? "0" + time.Month : String(time.Month);
                time.Day = date.getDate();
                time.TDay = time.Day < 10 ? "0" + time.Day : String(time.Day);
                time.Hour = date.getHours();
                time.THour = time.Hour < 10 ? "0" + time.Hour : String(time.Hour);
                time.hour = time.Hour < 13 ? time.Hour : time.Hour - 12;
                time.Thour = time.hour < 10 ? "0" + time.hour : String(time.hour);
                time.Minute = date.getMinutes();
                time.TMinute = time.Minute < 10 ? "0" + time.Minute : String(time.Minute);
                time.Second = date.getSeconds();
                time.TSecond = time.Second < 10 ? "0" + time.Second : String(time.Second);
                time.Millisecond = date.getMilliseconds();

                return sFormat.replace(/yyyy/ig, String(time.Year))
                    .replace(/yyy/ig, String(time.Year))
                    .replace(/yy/ig, time.TYear)
                    .replace(/y/ig, time.TYear)
                    .replace(/MM/g, time.TMonth)
                    .replace(/M/g, String(time.Month))
                    .replace(/dd/ig, time.TDay)
                    .replace(/d/ig, String(time.Day))
                    .replace(/HH/g, time.THour)
                    .replace(/H/g, String(time.Hour))
                    .replace(/hh/g, time.Thour)
                    .replace(/h/g, String(time.hour))
                    .replace(/mm/g, time.TMinute)
                    .replace(/m/g, String(time.Minute))
                    .replace(/ss/ig, time.TSecond)
                    .replace(/s/ig, String(time.Second))
                    .replace(/fff/ig, String(time.Millisecond))
            },
            chakan(item) {
                var topicId = this.propertyKey.split('/')[1];
                var key = topicId + '-' + item["OptionID"];
                var obj = this.didVoteObj[key]["didList"];
                if (obj.length == 0) {
                    this.toast(this.curLangule['key14']);
                    return;
                }
                localStorage.setItem('did-list-key', JSON.stringify(obj));
                location.href = "./didList.html";
            },
            getSelect() {
                var seleced = 0;
                _.forEach(this.selectObj, function(val, key) {
                    if (val) {
                        seleced++;
                    }
                });

                return seleced;
            },
            getSelectObj() {
                this.voteObject.Selections = [];
                var obj = _.keyBy(this.chainObj["Options"], "OptionID");
                _.forEach(this.selectObj, (val, key) => {
                    if (val) {
                        obj[key]['Votes'] = 1;
                        this.voteObject.Selections.push(obj[key]);
                    }
                });
            },
            getUrlParam: function(name) {
                //正则表达式过滤
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                //正则规则
                var r = window.location.search.substr(1).match(reg);

                if (r != null) return decodeURI(r[2]);
                return null;
            },
            toast(str) {
                var v = this;
                v.toastText = str
                v.toastShow = true
                setTimeout(function() {
                    v.toastShow = false;
                }, 1500)
            },
            getLanugle: function() {
                this.curLangule = this.en;
                this.curLanguleKey = 'en';
                var JsSrc = (navigator.language || navigator.browserLanguage).toLowerCase();
                if (JsSrc.indexOf('zh') >= 0) {
                    // 假如浏览器语言是中文
                    this.curLanguleKey = 'zh';
                    this.curLangule = this.zh;
                } else if (JsSrc.indexOf('en') >= 0) {
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                } else {
                    // 假如浏览器语言是其它语言
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                }
            },
            getAjax(url) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
            isEmptyObj(obj) {
                for (var key in obj) {
                    return false;
                }
                return true;
            },
            isExit(didlist, did) {
                for (index = 0; index < didlist.length; index++) {
                    var item = didlist[index];
                    if (item["did"] === did) {
                        return true;
                    }
                }

                return false;
            },
            getdidTime(did, height, selectObj, slen) {
                let timeId = setTimeout(() => {
                    this.getAjax('https://idchain-test.elastos.org/api/v2/block/properteis/did?did=' + did).then((res) => {
                        let data = _.sortBy(res, function(item) {
                            return item["block_time"];
                        });
                        let item = data[0];
                        let time = item['block_time'];
                        let dlen = res.length;
                        //let pkey = res[0]['property_key'] || "";
                        let pkey = JSON.stringify(res);
                        if (pkey.indexOf('/Apps/8816ed501878a9f4404f5926c4fb2df56239424e41da9c449b4db35e9a8b99d5f976a0537858d709511b5b41cf11c0e88be8778008eb5f918a6aa712ac20c421/MiniPrograms') > -1) {
                            this.$set(this.didObj, did, true);
                        } else {
                            this.$set(this.didObj, did, false);
                        }
                        let bheight = item['height'];
                        let isRed = false;
                        if (bheight < height) {
                            isRed = false;
                            if (this.didObj[did]) {
                                this.didVoteVCount = this.didVoteVCount + slen;
                                for (let index1 = 0; index1 < slen; index1++) {
                                    let sNo = selectObj[index1]["OptionID"];
                                    let sNoVal = this.options[sNo] || '';
                                    if (sNoVal === '') {
                                        this.options[sNo] = {};
                                        this.options[sNo]['h'] = 0;
                                        this.options[sNo]['no'] = sNo;
                                        this.options[sNo]['q'] = 0;
                                        this.options[sNo]['t'] = 0;
                                    }
                                    this.options[sNo]['h'] = this.options[sNo]['h'] + 1;
                                    this.options[sNo]['t'] = this.handlex(this.options[sNo]['q'], this.options[sNo]['h']);
                                    // this.options1 = _.sortBy(this.options, function(item) {
                                    //     return item["t"];
                                    // });
                                }

                            }
                        } else {
                            isRed = true;
                            if (this.didObj[did]) {
                                this.didVoteVCount = this.didVoteVCount + slen;
                                for (let index1 = 0; index1 < slen; index1++) {
                                    let sNo = selectObj[index1]["OptionID"];
                                    let sNoVal = this.options[sNo] || '';
                                    if (sNoVal === '') {
                                        this.options[sNo] = {};
                                        this.options[sNo]['h'] = 0;
                                        this.options[sNo]['no'] = sNo;
                                        this.options[sNo]['q'] = 0;
                                        this.options[sNo]['t'] = 0;
                                    }
                                    this.options[sNo]['q'] = this.options[sNo]['q'] + 1;
                                    this.options[sNo]['t'] = this.handlex(this.options[sNo]['q'], this.options[sNo]['h']);
                                }
                            }
                        }

                        this.options1 = _.sortBy(this.options, function(item) {
                            return -item["t"];
                        });
                        let obj = {
                            ctime: time,
                            isRed: isRed
                        }
                        this.$set(this.didTimeObj, did, obj);
                        clearTimeout(timeId);
                    });
                }, 10);
            },
            handleDate(it) {
                let item = it;
                let topicId = this.propertyKey.split('/')[1];
                let key = item["property_key"];
                let cHeight = item["height"];
                let createTime = item["block_time"];
                //判断当前区块是否在 投票的时间区段
                //let isRange = (cHeight >= this.chainObj["Starting-height"] && cHeight <= this.chainObj["End-height"]);
                //if (isRange && key.indexOf("vote_object") > -1 && key.indexOf(topicId) > -1) {
                let valueItem = JSON.parse(item["property_value"]);
                let sign = valueItem["Signature"];
                let dataStr = decodeURIComponent(valueItem["DataStr"]);
                let publicKey = JSON.parse(dataStr)['PublicKey'];
                let dataStrItem = JSON.parse(dataStr)["RequestedConent"] || JSON.parse(dataStr)["RequestedContent"];
                let rtItem = JSON.parse(dataStrItem);
                let selectObj = rtItem["Selections"];
                let slen = selectObj.length;
                this.didVoteCount += slen;
                let did = JSON.parse(dataStr)["DID"];
                this.getdidTime(did, this.chainObj["Starting-height"], selectObj, slen);
                let sNo = "";
                for (let index1 = 0; index1 < slen; index1++) {
                    if (index1 === slen - 1) {
                        sNo += selectObj[index1]["OptionID"];
                    } else {
                        sNo += selectObj[index1]["OptionID"] + ";";
                    }

                }
                let address = this.$getAddress(publicKey);
                this.didVoteObj.push({
                    "did": did,
                    "state": true,
                    "sNo": sNo,
                    "bheight": cHeight,
                    'address': address,
                    "createTime": createTime
                });

                // let timeId = setTimeout(() => {
                //     this.getBalance(address).then((res) => {
                //         if (res.status === 200) {
                //             this.$set(this.bnaceObj, address, res.result);
                //         } else {
                //             this.$set(this.bnaceObj, address, 0);
                //         }

                //         clearTimeout(timeId);
                //     });
                // }, 1000);



                this.didVoteObj = _.sortBy(this.didVoteObj, function(item) {
                    return item["createTime"];
                });
            },
        },
        created: function() {
            let hash = this.getUrlParam("hashStr");
            this.getAjax('https://api-voteforme.elaphant.net/api/1/didvoting/packet_info?topic_id=' + hash).then(res => {
                if (res.state === 0) {
                    let dataStr = res['data'];
                    let dataObj = JSON.parse(dataStr);
                    let arr = dataObj['result']['packet_detail']["packet_rcver_details"];
                    this.redpackObj = _.keyBy(arr, 'address');
                    this.getVoteDid();
                } else {
                    this.redpackObj = {};
                    this.getVoteDid();
                }
            });

        },
        mounted() {
            this.getLanugle();
            document.title = this.curLangule["title"];
        }
    });
</script>

</html>