<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="./js/vue.min.js"></script>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/lodash.min.js"></script>
    <script src="./js/vue-clipboard.min.js"></script>
    <!--ela js库-->
    <script src="./js/elastos-wallet-api-min.js"></script>
    <script>
        Vue.prototype.$verify = this.verify;
        Vue.prototype.$getAddress = this.getAddress;
    </script>
    <link rel="stylesheet" type="text/css" href="./css/reset.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<style type="text/css">
    body {
        background: #F2F9FF;
    }
    
    .xiaoshuo {
        cursor: pointer;
    }
    
    .footer {
        position: fixed;
        width: 300px;
        left: 0;
        right: 0;
        bottom: 10px;
        height: 20px;
        line-height: 20px;
        background-color: #fff;
        text-align: center;
        color: #31AEFF;
        margin: 0 auto;
        z-index: 999;
    }
    
    .toast {
        position: fixed;
        z-index: 2000;
        left: 50%;
        top: 25%;
        transition: all .5s;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        border-radius: 5px;
        color: #FFF;
        background: rgba(17, 17, 17, 0.7);
        height: 45px;
        line-height: 45px;
        padding: 0 15px;
        width: 100%;
    }
    
    .spinner {
        display: block;
        margin: 100px auto 0;
        width: 150px;
        text-align: center;
    }
    
    .spinner>div {
        width: 30px;
        height: 30px;
        background-color: #67CF22;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    
    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    
    @-webkit-keyframes bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0.0)
        }
        40% {
            -webkit-transform: scale(1.0)
        }
    }
    
    @keyframes bouncedelay {
        0%,
        80%,
        100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        40% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
    
    .hang {
        margin-top: 20px;
        /* line-height: 64px; */
        background: #FFFFFF;
        border-top: 1px solid #BDDBFF;
        border-left: 15px solid #BDDBFF;
        border-right: 1px solid #BDDBFF;
        border-bottom: 1px solid #BDDBFF;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
    .hang1 {
        padding: 15px 0px;
        word-wrap: break-word;
        overflow: auto;
    }
    
    .hang2 {
        padding: 15px 0px;
        word-wrap: break-word;
        overflow: auto;
    }
    
    [v-cloak] {
        display: none;
    }
</style>

<body>
    <div id="app" v-cloak>
        <div class="toast" v-show="toastShow">
            {{toastText}}
        </div>
        <div class="spinner" v-if="loading">
            {{voteList.length}}
            <div class="bounce1"></div>

            <div class="bounce2"></div>

            <div class="bounce3"></div>
        </div>

        <div class="container" v-if="showType===1">
            <div style="padding-top:15px" v-if="voteList.length>0">
                <span>{{curLangule['key7']}}：{{voteList.length}}&nbsp;</span>
                <span>&nbsp;{{curLangule['key8']}}：{{slen}}</span>
                <span>&nbsp;{{curLangule['key9']}}：{{flen}}</span>
            </div>
            <div class="row hang center-vertical" v-if="voteList.length>0">
                <div class="col-xs-1 text-center hang1">
                    {{curLangule['key1']}}
                </div>
                <div class="col-xs-5 text-center  hang1">
                    {{curLangule['key2']}}
                </div>
                <div class="col-xs-1 text-center  hang1">
                    {{curLangule['key3']}}
                </div>
                <div class="col-xs-2 text-center  hang1">
                    {{curLangule['key4']}}
                </div>
                <div class="col-xs-3 text-center  hang1">
                    {{curLangule['key5']}}
                </div>
                <!-- <div class="col-xs-3 text-center  hang1">
                        {{curLangule['key6']}}
                    </div> -->
            </div>
            <div class="row hang center-vertical" v-for="(item,index) in voteList">
                <div class="col-xs-1 text-center hang1">
                    {{index+1}}
                </div>
                <div class="col-xs-5 text-center hang2" @click='clickItem(item)'>
                    {{item["did"]}}
                </div>
                <div class="col-xs-1 text-center hang1">
                    {{item["bheight"]}}
                </div>
                <div class="col-xs-2 text-center hang1">
                    {{item["sNo"]}}
                </div>
                <div class="col-xs-3 text-center hang2">
                    {{handleTime(item)}}
                    <span style="color:#ff0000" v-if="!item['state']">{{curLangule['key10']}}</span>
                </div>
            </div>
        </div>
        <div style="height:30px"></div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            zh: {
                title: 'DID投票',
                key1: '序号',
                key2: 'DID',
                key3: '高度',
                key4: '投票选项',
                key5: '时间',
                key6: '地址',
                key7: '总票数',
                key8: '有效票数',
                key9: '无效票数',
                key10: '无效',
                key15: '区块高度'
            },
            en: {
                title: 'DID Voting',
                key1: 'Number',
                key2: 'DID',
                key3: 'Height',
                key4: 'Voting options',
                key5: 'Time',
                key6: 'Address',
                key7: 'Votes',
                key8: 'Valid votes',
                key9: 'Invalid votes',
                key10: 'Invalid',
                key15: 'Block Height'
            },
            curLangule: {},
            toastText: "",
            toastShow: false,
            chainObj: {},
            sign: "",
            selectObj: {},
            selectArr: [],
            voteObject: {
                Selections: []
            },
            propertyKey: "",
            didVoteObj: {},
            voteList: [],
            chainDid: "",
            curblock: '',
            curTime: '',
            toastText: "",
            toastShow: false,
            loading: true,
            slen: 0,
            flen: 0,
            showType: 1,
            didPubs: {},
        },
        methods: {
            clickAdress(item) {
                var address = item["address"] || "";
                if (address != "") {
                    window.open('https://blockchain.elastos.org/address/' + address);
                }
            },
            clickItem(item) {
                var did = item["did"];
                window.open('https://idchain-test.elastos.org/did_detail/' + did);
            },
            handleTime(item) {
                var str = String(item["createTime"]);
                var timeStr = "";
                if (str.length === 10) {
                    timeStr = this.dateFormat(new Date(item["createTime"] * 1000), ' yyyy-MM-dd HH:mm:ss');
                } else {
                    timeStr = this.dateFormat(new Date(item["createTime"]), ' yyyy-MM-dd HH:mm:ss');
                }

                return timeStr;
            },
            clickUrl(url) {
                if (url.substr(0, 7).toLowerCase() == "http://" || url.substr(0, 8).toLowerCase() == "https://") {
                    url = url;
                } else {
                    url = "http://" + url;
                }
                window.open(url);
            },
            init() {
                let didPubs = localStorage.getItem("didPubs") || "";
                if (didPubs === "") {
                    this.didPubs = {};
                } else {
                    this.didPubs = JSON.parse(didPubs);
                }
                var hash = this.getUrlParam("hashStr") || '0e9c43aa69926650fa5215e5b011a87bd31c248f011e03d20c80d5bea1e92cb1';
                this.propertyKey = 'did-voting/' + hash + '/topic_object';
                var url = 'https://idchain-test.elastos.org/api/v1/block/properteis/history?key=' + this.propertyKey + '&did=' + this.chainDid + '&start=0&pageSize=50';
                this.getAjax(url).then((res) => {
                    var item = res[0];
                    var dataStr = decodeURIComponent(JSON.parse(item['property_value'])['DataStr']);
                    var chainStr = JSON.parse(dataStr)["RequestedConent"] || JSON.parse(dataStr)["RequestedContent"];
                    this.chainObj = JSON.parse(chainStr);

                    // this.getAjax('https://idchain.elastos.org/api/v1/block/height').then((res) => {
                    //     this.curblock = res[0].height;
                    //     this.curTime = parseInt(new Date().getTime() / 1000);
                    // });

                    for (var index = 0; index < this.chainObj['Options'].length; index++) {
                        var id = this.chainObj['Options'][index]['OptionID'];
                        var topicId = this.propertyKey.split('/')[1];
                        var key = topicId + '-' + id;
                        this.$set(this.didVoteObj, key, {
                            "votes": 0,
                            "didList": []
                        });

                        //Vue.set(this.selectObj, id, false);
                    }

                    var url = 'https://idchain.elastos.org/api/v1/block/properteis/did?did=' + this.chainDid;
                    this.getAjax(url).then((res) => {
                        //this.handleDate(res);
                        let rlen = res.length;
                        let index = 0;
                        let sid = setInterval(() => {
                            if (index < rlen) {
                                let item = res[index];
                                this.handleDate(item);
                                index++;
                            } else {
                                clearInterval(sid);
                            }
                        }, 100);
                        setInterval(() => {
                            let allVotes = [];
                            let arr = Object.values(this.didVoteObj);
                            let len = arr.length;
                            for (let index1 = 0; index1 < len; index1++) {
                                let item = arr[index1]['didList'];
                                allVotes = allVotes.concat(item);
                            }

                            var sArr = _.filter(allVotes,
                                function(o) {
                                    return o.state;
                                });

                            sArr = _.sortBy(sArr, function(item) {
                                return item["createTime"];
                            });


                            var fArr = _.filter(allVotes,
                                function(o) {
                                    return !o.state;
                                });

                            fArr = _.sortBy(fArr, function(item) {
                                return item["createTime"];
                            });
                            this.slen = sArr.length;
                            this.flen = fArr.length;

                            this.voteList = sArr.concat(fArr);
                            if (this.voteList.length > 0) {
                                this.loading = false;
                            }
                        }, 1000);
                    }).catch((err) => {
                        console.log(JSON.stringify(err));
                        this.loading = false;
                    });
                });

            },
            getVoteDid() {
                this.getAjax('https://api-voteforme.elaphant.net/api/1/didvoting/did').then((res) => {
                    var data = res.data;
                    if (res['state'] === 200) {
                        this.chainDid = data['did'];
                        this.init();
                    }
                }).catch(() => {
                    this.loading = false;
                });
            },
            toast(str) {
                var v = this;
                v.toastText = str
                v.toastShow = true
                setTimeout(function() {
                    v.toastShow = false;
                }, 1500)
            },
            doCopy(url) {
                var v = this;
                this.$copyText(url).then(function(e) {
                    v.toast(v.curLangule['key13']);
                }, function(e) {})
            },
            dateFormat(date, sFormat) {
                let time = {
                    Year: 0,
                    TYear: '0',
                    Month: 0,
                    TMonth: '0',
                    Day: 0,
                    TDay: '0',
                    Hour: 0,
                    THour: '0',
                    hour: 0,
                    Thour: '0',
                    Minute: 0,
                    TMinute: '0',
                    Second: 0,
                    TSecond: '0',
                    Millisecond: 0
                };
                time.Year = date.getFullYear();
                time.TYear = String(time.Year).substr(2);
                time.Month = date.getMonth() + 1;
                time.TMonth = time.Month < 10 ? "0" + time.Month : String(time.Month);
                time.Day = date.getDate();
                time.TDay = time.Day < 10 ? "0" + time.Day : String(time.Day);
                time.Hour = date.getHours();
                time.THour = time.Hour < 10 ? "0" + time.Hour : String(time.Hour);
                time.hour = time.Hour < 13 ? time.Hour : time.Hour - 12;
                time.Thour = time.hour < 10 ? "0" + time.hour : String(time.hour);
                time.Minute = date.getMinutes();
                time.TMinute = time.Minute < 10 ? "0" + time.Minute : String(time.Minute);
                time.Second = date.getSeconds();
                time.TSecond = time.Second < 10 ? "0" + time.Second : String(time.Second);
                time.Millisecond = date.getMilliseconds();

                return sFormat.replace(/yyyy/ig, String(time.Year))
                    .replace(/yyy/ig, String(time.Year))
                    .replace(/yy/ig, time.TYear)
                    .replace(/y/ig, time.TYear)
                    .replace(/MM/g, time.TMonth)
                    .replace(/M/g, String(time.Month))
                    .replace(/dd/ig, time.TDay)
                    .replace(/d/ig, String(time.Day))
                    .replace(/HH/g, time.THour)
                    .replace(/H/g, String(time.Hour))
                    .replace(/hh/g, time.Thour)
                    .replace(/h/g, String(time.hour))
                    .replace(/mm/g, time.TMinute)
                    .replace(/m/g, String(time.Minute))
                    .replace(/ss/ig, time.TSecond)
                    .replace(/s/ig, String(time.Second))
                    .replace(/fff/ig, String(time.Millisecond))
            },
            chakan(item) {
                var topicId = this.propertyKey.split('/')[1];
                var key = topicId + '-' + item["OptionID"];
                var obj = this.didVoteObj[key]["didList"];
                if (obj.length == 0) {
                    this.toast(this.curLangule['key14']);
                    return;
                }
                localStorage.setItem('did-list-key', JSON.stringify(obj));
                location.href = "./didList.html";
            },
            handlNum(item) {
                var topicId = this.propertyKey.split('/')[1];
                var key = topicId + '-' + item["OptionID"];
                var obj = this.didVoteObj[key] || "";
                if (obj === "") {
                    this.$set(this.didVoteObj, key, {
                        "votes": 0,
                        "didList": []
                    });
                }
                return this.didVoteObj[key]["votes"];
            },
            buildSign(objStr) {
                this.schemeConfig['RequestedContent'] = objStr;
                var baseUrl = this.getUrl();
                if (baseUrl === "file://") {
                    baseUrl = 'http://dev1.elapps.net';
                }
                this.schemeConfig['ReturnUrl'] = baseUrl + '/signResult.html?propertyKey=' + this.propertyKey;
                var url = "elaphant://sign?";
                _.forEach(this.schemeConfig, function(val, key, index) {
                    if (key === 'ReturnUrl' || key === 'RequestInfo' || key === 'RequestedContent') {
                        val = encodeURIComponent(val);
                    }
                    url += key + '=' + val + '&';
                });

                return url.substring(0, url.length - 1);
            },
            getSelect() {
                var seleced = 0;
                _.forEach(this.selectObj, function(val, key) {
                    if (val) {
                        seleced++;
                    }
                });

                return seleced;
            },
            getSelectObj() {
                this.voteObject.Selections = [];
                var obj = _.keyBy(this.chainObj["Options"], "OptionID");
                _.forEach(this.selectObj, (val, key) => {
                    if (val) {
                        obj[key]['Votes'] = 1;
                        this.voteObject.Selections.push(obj[key]);
                    }
                });
            },
            getUrlParam: function(name) {
                //正则表达式过滤
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                //正则规则
                var r = window.location.search.substr(1).match(reg);

                if (r != null) return decodeURI(r[2]);
                return null;
            },
            toast(str) {
                var v = this;
                v.toastText = str
                v.toastShow = true
                setTimeout(function() {
                    v.toastShow = false;
                }, 1500)
            },
            getLanugle: function() {
                this.curLangule = this.en;
                this.curLanguleKey = 'en';
                var JsSrc = (navigator.language || navigator.browserLanguage).toLowerCase();
                if (JsSrc.indexOf('zh') >= 0) {
                    // 假如浏览器语言是中文
                    this.curLanguleKey = 'zh';
                    this.curLangule = this.zh;
                } else if (JsSrc.indexOf('en') >= 0) {
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                } else {
                    // 假如浏览器语言是其它语言
                    this.curLangule = this.en;
                    this.curLanguleKey = 'en';
                }
            },
            getAjax(url) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
            isEmptyObj(obj) {
                for (var key in obj) {
                    return false;
                }
                return true;
            },
            isExit(didlist, did) {
                for (index = 0; index < didlist.length; index++) {
                    var item = didlist[index];
                    if (item["did"] === did) {
                        return true;
                    }
                }

                return false;
            },
            handleDate(it) {

                let item = it;
                let topicId = this.propertyKey.split('/')[1];
                let key = item["property_key"];
                let cHeight = item["height"];
                let createTime = item["block_time"];

                //判断当前区块是否在 投票的时间区段
                let isRange = (cHeight >= this.chainObj["Starting-height"] && cHeight <= this.chainObj["End-height"]);
                if (isRange && key.indexOf("vote_object") > -1 && key.indexOf(topicId) > -1) {
                    let valueItem = JSON.parse(item["property_value"]);
                    let sign = valueItem["Signature"];
                    let dataStr = decodeURIComponent(valueItem["DataStr"]);
                    let publicKey = JSON.parse(dataStr)['PublicKey'];
                    let verified = this.$verify(dataStr, sign, publicKey);
                    let dataStrItem = JSON.parse(dataStr)["RequestedConent"] || JSON.parse(dataStr)["RequestedContent"];
                    let rtItem = JSON.parse(dataStrItem);
                    let selectObj = rtItem["Selections"];
                    let slen = selectObj.length;
                    let did = JSON.parse(dataStr)["DID"];
                    let url = 'https://idchain-test.elastos.org/api/v2/block/properteis/did?did=' + did;
                    if (verified) {
                        if (this.didPubs[did] == undefined || this.didPubs[did] == "") {
                            this.getAjax(url).then((res) => {
                                let pub = '';
                                if (res.length > 0) {
                                    pub = res[0]["public_key"] || '';
                                    if (pub != '' && pub === publicKey) {
                                        //for (let index1 = 0; index1 < slen; index1++) {
                                        let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                        if (this.didVoteObj[key1]) {
                                            let didlist = this.didVoteObj[key1]["didList"] || [];
                                            if (this.isExit(didlist, did)) {
                                                return;
                                            }
                                            this.didVoteObj[key1]["votes"] = this.didVoteObj[key1]["votes"] + 1;
                                            this.didVoteObj[key1]["didList"].push({
                                                "did": did,
                                                "sNo": selectObj[0]["OptionID"],
                                                'address': this.$getAddress(pub),
                                                "bheight": cHeight,
                                                "state": true,
                                                "createTime": createTime
                                            });
                                            this.didPubs[did] = pub;
                                            localStorage.setItem('didPubs', JSON.stringify(this.didPubs));
                                        }

                                        //}
                                    } else {
                                        //for (let index1 = 0; index1 < selectObj.length; index1++) {
                                        let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                        if (this.didVoteObj[key1]) {
                                            let didlist = this.didVoteObj[key1]["didList"] || [];
                                            if (this.isExit(didlist, did)) {
                                                return;
                                            }
                                            this.didVoteObj[key1]["Fvotes"] = this.didVoteObj[key1]["Fvotes"] + 1;
                                            this.didVoteObj[key1]["didList"].push({
                                                "did": did,
                                                "sNo": selectObj[0]["OptionID"],
                                                'address': this.$getAddress(pub),
                                                "bheight": cHeight,
                                                "state": false,
                                                "createTime": createTime
                                            });

                                            this.didPubs[did] = pub;
                                            localStorage.setItem('didPubs', JSON.stringify(this.didPubs));
                                            //}
                                        }
                                        //this.addItem(selectObj, did, publicKey, cHeight, false, createTime);
                                    }
                                } else {
                                    //for (let index1 = 0; index1 < selectObj.length; index1++) {
                                    let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                    if (this.didVoteObj[key1]) {
                                        let didlist = this.didVoteObj[key1]["didList"] || [];
                                        if (this.isExit(didlist, did)) {
                                            return;
                                        }
                                        this.didVoteObj[key1]["Fvotes"] = this.didVoteObj[key1]["Fvotes"] + 1;
                                        this.didVoteObj[key1]["didList"].push({
                                            "did": did,
                                            "sNo": selectObj[0]["OptionID"],
                                            'address': '',
                                            "bheight": cHeight,
                                            "state": false,
                                            "createTime": createTime
                                        });
                                        this.didPubs[did] = "";
                                        localStorage.setItem('didPubs', JSON.stringify(this.didPubs));
                                    }
                                    //}
                                    //this.addFItem(selectObj, did, publicKey, cHeight, false, createTime);
                                }
                            }).catch(() => {
                                this.loading = false;
                            });
                        } else if (this.didPubs[did] === '') {
                            //for (let index1 = 0; index1 < selectObj.length; index1++) {
                            let key1 = topicId + "-" + selectObj[0]["OptionID"];
                            if (this.didVoteObj[key1]) {
                                let didlist = this.didVoteObj[key1]["didList"] || [];
                                if (this.isExit(didlist, did)) {
                                    return;
                                }
                                this.didVoteObj[key1]["Fvotes"] = this.didVoteObj[key1]["Fvotes"] + 1;
                                this.didVoteObj[key1]["didList"].push({
                                    "did": did,
                                    "sNo": selectObj[0]["OptionID"],
                                    'address': '',
                                    "bheight": cHeight,
                                    "state": false,
                                    "createTime": createTime
                                });
                                //}
                            }
                        } else {
                            let pub = this.didPubs[did];
                            if (pub != '' && pub === publicKey) {
                                //for (let index1 = 0; index1 < selectObj.length; index1++) {
                                let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                if (this.didVoteObj[key1]) {
                                    let didlist = this.didVoteObj[key1]["didList"] || [];
                                    if (this.isExit(didlist, did)) {
                                        return;
                                    }
                                    this.didVoteObj[key1]["votes"] = this.didVoteObj[key1]["votes"] + 1;
                                    this.didVoteObj[key1]["didList"].push({
                                        "did": did,
                                        "sNo": selectObj[0]["OptionID"],
                                        'address': this.$getAddress(pub),
                                        "bheight": cHeight,
                                        "state": true,
                                        "createTime": createTime
                                    });
                                    //}
                                }
                            } else {
                                //for (let index1 = 0; index1 < selectObj.length; index1++) {
                                let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                if (this.didVoteObj[key1]) {
                                    let didlist = this.didVoteObj[key1]["didList"] || [];
                                    if (this.isExit(didlist, did)) {
                                        return;
                                    }
                                    this.didVoteObj[key1]["Fvotes"] = this.didVoteObj[key1]["Fvotes"] + 1;
                                    this.didVoteObj[key1]["didList"].push({
                                        "did": did,
                                        "sNo": selectObj[0]["OptionID"],
                                        'address': '',
                                        "bheight": cHeight,
                                        "state": false,
                                        "createTime": createTime
                                    });
                                }
                                //}
                            }
                        }
                    } else {
                        if (this.didPubs[did] == undefined || this.didPubs[did] == '') {
                            this.getAjax(url).then((res) => {
                                let pub = '';
                                if (res.length > 0) {
                                    pub = res[0]["public_key"] || '';
                                    if (pub != '' && pub === publicKey) {
                                        //for (let index1 = 0; index1 < selectObj.length; index1++) {
                                        let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                        if (this.didVoteObj[key1]) {
                                            let didlist = this.didVoteObj[key1]["didList"] || [];
                                            if (this.isExit(didlist, did)) {
                                                return;
                                            }
                                            this.didVoteObj[key1]["votes"] = this.didVoteObj[key1]["votes"] + 1;
                                            this.didVoteObj[key1]["didList"].push({
                                                "did": did,
                                                "sNo": selectObj[0]["OptionID"],
                                                'address': this.$getAddress(pub),
                                                "bheight": cHeight,
                                                "state": true,
                                                "createTime": createTime
                                            });
                                            this.didPubs[did] = pub;
                                            localStorage.setItem('didPubs', JSON.stringify(this.didPubs));
                                        }
                                        //}
                                        //this.addItem(selectObj, did, publicKey, cHeight, true, createTime);
                                    } else {
                                        //for (let index1 = 0; index1 < selectObj.length; index1++) {
                                        let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                        if (this.didVoteObj[key1]) {
                                            let didlist = this.didVoteObj[key1]["didList"] || [];
                                            if (this.isExit(didlist, did)) {
                                                return;
                                            }
                                            this.didVoteObj[key1]["Fvotes"] = this.didVoteObj[key1]["Fvotes"] + 1;
                                            this.didVoteObj[key1]["didList"].push({
                                                "did": did,
                                                "sNo": selectObj[0]["OptionID"],
                                                'address': this.$getAddress(pub),
                                                "bheight": cHeight,
                                                "state": false,
                                                "createTime": createTime
                                            });
                                            this.didPubs[did] = pub;
                                            localStorage.setItem('didPubs', JSON.stringify(this.didPubs));
                                        }
                                        //}
                                        // this.addItem(selectObj, did, publicKey, cHeight, false, createTime);
                                    }
                                } else {
                                    //for (let index1 = 0; index1 < selectObj.length; index1++) {
                                    let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                    if (this.didVoteObj[key1]) {
                                        let didlist = this.didVoteObj[key1]["didList"] || [];
                                        if (this.isExit(didlist, did)) {
                                            return;
                                        }
                                        this.didVoteObj[key1]["Fvotes"] = this.didVoteObj[key1]["Fvotes"] + 1;
                                        this.didVoteObj[key1]["didList"].push({
                                            "did": did,
                                            "sNo": selectObj[0]["OptionID"],
                                            'address': '',
                                            "bheight": cHeight,
                                            "state": false,
                                            "createTime": createTime
                                        });
                                        this.didPubs[did] = '';
                                        localStorage.setItem('didPubs', JSON.stringify(this.didPubs));
                                    }
                                    //}
                                    //this.addFItem(selectObj, did, publicKey, cHeight, false, createTime);
                                }
                            }).catch(() => {
                                this.loading = false;
                            });
                        } else if (this.didPubs[did] === '') {
                            //for (let index1 = 0; index1 < selectObj.length; index1++) {
                            let key1 = topicId + "-" + selectObj[0]["OptionID"];
                            if (this.didVoteObj[key1]) {
                                let didlist = this.didVoteObj[key1]["didList"] || [];
                                if (this.isExit(didlist, did)) {
                                    return;
                                }
                                this.didVoteObj[key1]["Fvotes"] = this.didVoteObj[key1]["Fvotes"] + 1;
                                this.didVoteObj[key1]["didList"].push({
                                    "did": did,
                                    "sNo": selectObj[0]["OptionID"],
                                    'address': '',
                                    "bheight": cHeight,
                                    "state": false,
                                    "createTime": createTime
                                });
                                //}
                            }
                        } else {
                            let pub = this.didPubs[did];
                            if (pub != '' && pub === publicKey) {
                                //for (let index1 = 0; index1 < selectObj.length; index1++) {
                                let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                if (this.didVoteObj[key1]) {
                                    let didlist = this.didVoteObj[key1]["didList"] || [];
                                    if (this.isExit(didlist, did)) {
                                        return;
                                    }
                                    this.didVoteObj[key1]["votes"] = this.didVoteObj[key1]["votes"] + 1;
                                    this.didVoteObj[key1]["didList"].push({
                                        "did": did,
                                        "sNo": selectObj[0]["OptionID"],
                                        'address': this.$getAddress(pub),
                                        "bheight": cHeight,
                                        "state": true,
                                        "createTime": createTime
                                    });
                                    //}
                                }
                            } else {
                                //for (let index1 = 0; index1 < selectObj.length; index1++) {
                                let key1 = topicId + "-" + selectObj[0]["OptionID"];
                                if (this.didVoteObj[key1]) {
                                    let didlist = this.didVoteObj[key1]["didList"] || [];
                                    if (this.isExit(didlist, did)) {
                                        return;
                                    }
                                    this.didVoteObj[key1]["Fvotes"] = this.didVoteObj[key1]["Fvotes"] + 1;
                                    this.didVoteObj[key1]["didList"].push({
                                        "did": did,
                                        "sNo": selectObj[0]["OptionID"],
                                        'address': '',
                                        "bheight": cHeight,
                                        "state": false,
                                        "createTime": createTime
                                    });
                                    //}
                                }
                            }
                        }
                    }
                }
                //}
            }
        },
        created: function() {
            this.getVoteDid();
        },
        mounted() {
            this.getLanugle();
            document.title = this.curLangule["title"];

        }
    });
</script>

</html